<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my sick RT form</h1>
				<p>I built this becuase I didn't like the one we had.</a><br/>
				<a href="{{ url_for('index') }}">Back to homepage</a>
				</p>
			</div>
		</div>
	</body>
</html>